@{
    ViewData["Title"] = "Projeto 002 - O Projeto";
}

<!-- BEGIN Content -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h1>Sobre o Projeto...</h1>
                <br />
                <p>Pequeno projeto em ASP.NET Core v3.1 com BD SQLite3 para demonstrar o uso do BD criando uma tabela e fazendo um CRUD (inserindo, alterando, excluindo e consultando) dos dados.</p>
                <p>Autor: SANDRO YAQUB YUSUF</p>
            </div>
        </div>
    </div>
</section>
<!-- END Content -->
